

.header {
  display: flex;
  background: #1f2937;
  
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  
}


.header-logo{
    
    color: #F9FAF8;;
    font-size: 24px;
    font-weight: 900;
    font-family: Roboto,sans-serif;
    flex: 1;
 
   
  
}

.right-links{
  
  flex: 1;
  
}

ul{
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: end;
  gap: 18px;
 
  
}

a {
  font-size: 18px;
  text-decoration: none;
  color:#E5E7EB;
  font-family: Roboto,sans-serif;
  justify-content: space-between;
  flex: 1;
}
.hero{
  display:flex;
  background:#1f2937;
  padding-left:200px;
  padding-right:200px;
  padding-top:100px;
  padding-bottom: 100px;
  gap: 100px;
}

.hero-content {
  background:#1f2937;
  
  color: #F9FAF8;
  font-family: Roboto,sans-serif;
  flex:1;
  width: 600px;
  height: 250px;
  
  
  
}

.hero-content h1{
  font-size: 48px;
  font-family: Roboto,sans-serif;
  margin:0;
  padding:0;
}

.hero-content p{
  font-size:18px;
  color:#E5E7EB;
  font-family: Roboto,sans-serif;
  margin:0;
  padding:0;
}

.hero-content button{
  background: #3882FA;
  font-family: Roboto,sans-serif;
  color:#E5E7EB;
  border-radius: 5px;
  width:80px;
  height: 30px;
  margin-top:15pt
}

.hero-image{
  width: 600px;
  height: 250px;
  background:rgb(107, 102, 102);
  flex:0 0 auto;
  
  
}

.hero-image img{
  width: 600px;
  height: 250px;
}


.information-content{

  padding:50px;
 
}

.information-content h2{
  font-family: Roboto,sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  justify-self:  center;
 
}

.info-images{
  display:flex;
  align-items: center;
  justify-self: center;
}

.subtext-image{
  padding: 25px;
  width:150px;
  height:200px;

}

.subtext-image img{
  width:150px;
  height:150PX;
  padding:0;
  margin:0;
  border-color: #3882FA;
  border-style:solid;
  border-radius: 10%;
}

.subtext-image p{
  text-align: center;
  color: rgb(112, 106, 106);
  font-family: Roboto,sans-serif;
  font-size: 14px;
  padding: 0;
  margin:0;
}
.quote-section{
  background-color:#E5E7EB;
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  

}
.quote{         
  font-family: Roboto,sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #757779;
  justify-self: center;
  padding: 100;
  margin: 100;
 
  
}

.quote-section p{
  padding:0;
  margin: 0;
  
}

.quote-credits{

  font-size: 24px;
  font-weight: 900;
  color: #1F2937;
  align-self:end;
  padding: 0;
  margin: 0;
}

.call-action{
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 150px;
  margin-bottom:150px;
  padding: 50px 100px 50px 100px;
  font-family: Roboto,sans-serif;
  background-color: #3882FA;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5pt;
  
}

.call-action button{

  color: #E5E7EB;
  
  background: #3882FA;
  font-family: Roboto,sans-serif;
  font-weight: 900;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  width:80px;
  padding: 5px 10px 5px 10px;

}

.call-action-header{
  color:#E5E7EB;
  font-family: Roboto,sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.call-action p{
  padding:0;
  margin: 0;
  
}